@model ChefCreateViewModel

<div class="card-body">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="basic-default-fullname">Name</label>
            <input asp-for="Fullname" class="form-control" id="basic-default-fullname" placeholder="John Jones" />
            <span asp-validation-for="Fullname" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" for="basic-default-fullname">Name</label>
            <input asp-for="Role" class="form-control" id="basic-default-fullname" placeholder="Role1, Role2..." />
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label>Images</label>
            <div class="input-group col-xs-12">
                <input asp-for="CoverImageFile" class="form-control file-upload-info" placeholder="Upload Image" />
            </div>
            <span asp-validation-for="CoverImageFile" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Send</button>
        <a asp-action="index" class="btn btn-light">Cancel</a>

    </form>
</div>
